/* Globale styles her */

@view-transition {
  navigation: auto;
}

html {
  font-family: var(--font-lato);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--all-headers-font);
  font-weight: var(--all-headers-weight);
}
